# Configurações do Banco de Dados
DB_HOST=sql306.infinityfree.com
DB_NAME=nome_do_seu_banco
DB_USER=seu_usuario_if0
DB_PASS=sua_senha_do_banco
DB_CHARSET=utf8mb4

# Configurações de E-mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD="sua senha de app de 16 digitos"
MAIL_PORT=587
MAIL_FROM_EMAIL=no-reply@seusite.com
MAIL_FROM_NAME="Catálogo de Discos"